@import url(https://fonts.googleapis.com/css?family=Roboto:700,400);

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    width: 980px;
    padding: 0;
}

.navbar {
    margin-bottom: 20px;
}

a.delete-btn {
    color: red;
}

.eligibility-list ul.items-list {
    list-style: none;
    padding: 0;
    clear: both;
}

.eligibility-list ul.items-list li.eligibility-item {
    background-color: white;
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom-width: 1px;
    border-bottom-color: #999999;
    border-bottom-style: solid;
    min-height: 188px;
    width: 980px;
}

.eligibility-list ul.items-list li.eligibility-item.ui-sortable-helper,
.eligibility-list ul.items-list li.eligibility-item:first-child {
    border-top-width: 1px;
    border-top-color: #999999;
    border-top-style: solid;
}

.eligibility-form .row {
    padding-bottom: 8px;
}

.eligibility-form .col-md-2 {
    padding-top: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: white;
}

.handle {
    cursor: move;
    min-height: 50px;
    margin-top: 60px;
}

.handle img {
    display: none;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    display: none;
}

.select2-selection__choice {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.capitalize {
    text-transform: capitalize;
}

.btn-green {
    width: 248px;
    height: 45px;
    background-color: #33CC33;
    border-color: #33CC33;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    border-radius: 1px;
}

h2.appTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    padding-bottom: 22px;
}

h3.default-title {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    margin-top: 60px;
}

.matching-container {
    margin-top: 60px;
}

.matching-container h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    float: left;
    display: none;
}
.matching-container h5:last-child {
    margin-left: 235px
}

label.item-label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    padding-top: 6px;
    margin-left: 40px;
}

.delete-container {
    margin-top: 60px;
    position: relative;
}

.delete-container img {
    padding-bottom: 6px;
}

a.delete-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #ff0000;
    padding-left: 5px;
}

.plans-selection {
    width: 550px;
    padding: 0;
}

.plans-selection .select2-container .select2-search--inline {
    float: right;
    padding-top: 0;
    margin-top: 0;
}

.plans-selection .select2-selection__rendered {
    padding-left: 0 !important;
    background-color: #f0f0f0;
    min-height: 30px;
}

.plans-selection .select2-selection,
.plans-selection .select2-container {
    min-height: 30px;
}

.plans-selection .select2-container .select2-selection {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    border-radius: 1px;
}
.plans-selection .select2-container .select2-search__field {
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    width: 100px;
}

.plans-selection .select2-container .select2-search__field::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #999999;
}
.plans-selection .select2-container .select2-search__field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999999;
    opacity:  1;
}
.plans-selection .select2-container .select2-search__field::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999999;
    opacity:  1;
}
.plans-selection .select2-container .select2-search__field:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999999;
}

.plans-selection .select2-container .select2-selection__choice {
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    min-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 5px;
    margin-top: 0;
}

.plans-selection .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    float: right;
    padding-left: 5px;
    margin-top: -5px;
}

h4 {
    width: 400px;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    text-align: right;
    margin-right: 10px;
}

.name-container {
    margin-top: 42px;
}